node_modules/
dist/
docs/
scripts/
examples/models
examples/headless/testsuite.html
examples/headless/vox-drop.html
examples/headless/slicer.html
examples/react/testsuite.html
examples/vue/testsuite.html
.DS_Store
package-lock.json
AGENTS.md