---
import Platonic from '../../debug/pages/Platonic.tsx';
---
<html>
  <head>
    <meta charset="utf-8" />
    <title>Debug: Platonic solids</title>
    <style>* { margin: 0; padding: 0; box-sizing: border-box; }</style>
  </head>
  <body>
    <Platonic client:only="react" />
  </body>
</html>
