---
import SliceTest from '../../debug/pages/SliceTest.tsx';
---
<html>
  <head>
    <meta charset="utf-8" />
    <title>Debug: Slice mode test</title>
    <style>* { margin: 0; padding: 0; box-sizing: border-box; }</style>
  </head>
  <body>
    <SliceTest client:only="react" />
  </body>
</html>
