---
---
<a href="/" class="site-title">
  <img src="/voxisologo.png" alt="VoxCSS" class="site-title__logo" />
</a>
<style>
  .site-title {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
  .site-title__logo {
    width: 85px;
    height: 44px;
    object-fit: contain;
  }
</style>
